<div>
    <h3>Cart</h3>
    <ul *ngIf="cartList.length > 0; else emptyCartBlock">
        <li *ngFor="let part of cartList;">
            <div>Manufacturer: {{part.manufacturer}}</div>
            <div>Model: {{part.model}}</div>
            <div>Type: {{part.type}}</div>
            <div>Price: {{part.price}}</div>
        </li>
        <label>
            Total price: {{getTotalPrice()}}
        </label>
    </ul>
    <ng-template #emptyCartBlock>
        <label>Cart is empty!</label>
    </ng-template>
</div>